body {
	background-color: white;
	text-align: center;	
}
title {
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
}
a {
	font-family: "Raleway";
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}
h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}
p {
	font: Arial;
}
h2 {
	font: Arialy;
	font-size: 24px;
	font-weight: bold;
}
.instructions {
	font-family: "Raleway";
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px; 
}
header {
	background-color: #F15B31;
	font-color: white;
	padding: 30px 20px;
}
body {
	margin: 0;
}
h1 {
	margin: 0;
}
nav {
	background-color: #00A6B3;
	color: white;
	padding: 20px 0;
}
a {
	margin-right: 20px;
	margin-left: 20px;
	color: white; 
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	margin: 40px 8px;
}
footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}
.message {
	font-family: "Raleway", sans-serif;
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
	color: #F15B31;
	font-weight: 700;
}